@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@700&family=Inconsolata&family=Merriweather&family=Montserrat:wght@200&family=Neonderthaw&family=PT+Serif&family=Poppins:wght@200;300;400;500;600;700;800&family=Quicksand&family=Rampart+One&family=Roboto+Mono&family=Roboto+Slab:wght@200&family=Sacramento&family=Tangerine&family=Tourney&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;
}

:root {
    --vlue-color: rgb(63, 73, 127);
    --light-orange-color: rgb(255, 191, 169);
    --black-color: rgb(44, 51, 51);
    --violet-black-color: rgb(46, 79, 79);
    --violet-blue-color: rgb(14, 131, 136);
    --grey-color: rgb(245, 254, 252);
    --grey-color-2: rgb(245, 246, 246);
    --aquamarine-color-1: rgb(109, 241, 190);
    --aquamarine-color-2: rgb(204, 252, 233);
    --aquamarine-color-3: rgb(238, 253, 247);
    --light-purple-blue-color: rgb(203, 228, 222);
    --dark-neon-color: rgba(0, 255, 171, 1);
    --pink-color-1: rgb(255, 99, 99);
    --amatic-font: 'Amatic SC', cursive;
    --merriweather-font: 'Merriweather', serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --roboto-mono-font: 'Roboto Mono', monospace;
    --roboto-slab-font: 'Roboto Slab', serif;
    --cursive-font: 'Sacramento', cursive;
    --rampant-font: 'Rampart One', cursive;
    --comforta-font: 'Comfortaa', cursive;
    --quicksand-font: 'Quicksand', sans-serif;
}


section {
    width: 100%;
    display: flex;
}

.faq-section-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.faq-section-container .section-heading-container {
    width: 100%;
    padding: 0.5rem 0rem;
}

.heading-content {
    width: 100%;
    padding: 0.5rem 0rem;
}

.heading-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0rem;
}

.heading-text h1 {
    font-size: 2.5rem;
    font-family: var(--quicksand-font);
    text-transform: capitalize;
    text-shadow: 1px 1px 5px rgb(87, 91, 89);
}


/*
        faqItemsList.push(<div className='items-contents' > <div className='items-content' > <div className='items-title' > <h3> {
                item["titel"]
            }
    
            </h3> </div> <div className= {
                cName
            }
    
            key= {
                index
            }
    
            > <p> {
                item["details"]
            }
    
            </p> </div> </div> <div className='icon-container' > <div className='icon-content' > < IconName className= {
                iconClassName
            }
    
            onClick= {
                ()=> {
                    changeIndex(iconIndex+1)
                }
            }
    
            /> </div> </div> </div>);
*/